
// color
@weuiColorPrimary: #0368FF;
@weuiColorWarn: #FA5151;

// active mask
@weuiActiveMaskWhite:rgba(0,0,0,.05);
@weuiActiveMaskColored:rgba(0,0,0,.1);
@weuiActiveMaskBlack:rgba(0,0,0,.15);

// link
@weuiLinkColorDefault: #576B95;

// background
@weuiBgColorDefault: #EDEDED;
@weuiBgColorPrimary: #fff;
@weuiBgColorActive: #ECECEC;

// line
@weuiLineColorLight: rgba(0,0,0,.1);
@weuiLineColorDark: rgba(0,0,0,.3);

// text
@weuiTextColorTitle: rgba(0,0,0,.9);
@weuiTextColorDesc: rgba(0,0,0,.5);
@weuiTextColorTips: rgba(0,0,0,.3);
@weuiTextColorWarn: @weuiColorWarn;
@weuiTextColorGray: @weuiTextColorDesc;
