@import "../fn.less";

@weuiDialogBackgroundColor: #ffffff;
@weuiDialogLineColor: rgba(0, 0, 0, 0.1);
@weuiDialogLinkColor: @weuiLinkColorDefault;
@weuiDialogLinkActiveBc: @weuiBgColorActive;
@weuiDialogGapWidth: 24px;
